* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0a0a0a;
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 100vh;
    padding: 50;
}

#canvas1 {
    border: 2px solid #444;
    background: #1a1a1a;
}